body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
header {
	padding: 30px;
	background-image: 
url(http://s3.viva.pl/viva/katarzyna-nosowska-347224-GALLERY_BIG.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	margin: 0 auto;
	max-width: 700px;
	background-color: #dfe6e9;
	color: #2C3A47;
}
header h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 68px;

}
header p, header h1 {
	text-align: right;
	color: #2d3436;
}
section {
	padding: 0 20%;
}
.song p {
	margin-top: 5px;
	font-size: 16px;
	color: #e17055;
	font-family: 'Limelight', sans-serif;
	text-align: center;
	padding-top: 15%;
}
footer {
	margin-top: 5px;
	padding: 15px;
	background: #333333;
}
footer p {
	text-align: center;
	color: #B0B5C4;
}
footer a {
	text-decoration: none;
	color: #FFC532;
	font-weight: bold;
}
